@import "tailwindcss";

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.25s ease;
}

body,
#root {
  background: #0f0f1a;
  min-height: 100vh;
  margin: 0;
}